@model MyFirstApp.Models.UserDetails

<div style="background-color:blue">
<h1>Greeter</h1>
<hr/>
<form method="post" action="/Greeter/Greet">
    <label> First Name : </label>
    <input type="text" name="FirstName" value="@Model.FirstName" />
    <br/>
    <label> Last Name : </label>
    <input type="text" name="LastName"  value="@Model.LastName"/>
    <br/>
    <input type="submit" />
</form>
<hr/>
<div>@Model.Message</div>
</div>
